body{
  font-family: Lato;
  background-color: aqua;
}
.container{
  width: 70%;

}
.btnGame,
.btnHold,
.btnRoll{
  text-align: center;
  text-overflow: clip;
}
.btnGame{
text-align: center;
}
.btnHold{

}
.btnRoll{

}
.firstPlayer{

}
.secondPlayer{

}