 /* /////// Body and Container ////////*/

 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

 body{
  background-image: url("./image/spotLightFont.jpg");
  background-size: cover;
  background-position: center;
  font-family: lato;
  font-weight: 300;
  height: 100vh;
  color: bisque;
 }
.wrapper{
  width: 1000px;
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: mediumblue;
  box-shadow: 10px 10px 10px black;
  overflow: hidden;
  opacity: 0.7;
}
/* Party Game Player*/
.player-0-party,
.player-1-party{
  width: 50%;
  float: left;
  height: 600px;
  padding: 100px;
}
.player-name {
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 100;
  margin-top: 20px;
  margin-bottom: 10px;
  position: relative;
}
.player-score{
text-align: center;
font-size: 60px;
color: crimson;
margin-bottom: 130px;
}
.active { background-color: #1da7e7; 
}
.active .player-name { font-weight: 300; 
}
.active .player-name::after {
    content: "\2022";
    font-size: 47px;
    position: absolute;
    color: #EB4D4D;
    top: -7px;
    right: 10px;
}
.player-current-box{
  background-color: rgb(26, 57, 235);
  width: 40%;
  margin: 0 auto;
  padding: 12px;
  text-align: center;
}

.player-current-label {
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 12px;
  color: #222;
}
.player-current-score {
  font-size: 30px;
}
/*/////////////// Button ////////////*/
button{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}
button:hover{
  color: blueviolet;
  font-weight: 600;
}
button:hover svg { 
  margin-right: 20px; 
}
button:focus {
  outline: none;
}
path{
  color: crimson;
  display: inline-block;
  margin-right: 10px;
  font-size: 2em;
  line-height: 1;
  vertical-align: text-bottom;
  margin-top: -4px;
  transition: margin 0.3s;
}
.btn-new{
  top: 50px;
}
.btn-roll{
  top: 450px;
}
.btn-hold{
  top: 500px;
}
/*/////////////// Dice Image ////////*/
.dice{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 180px;
  width: 100px;
  height: 100px;
  box-shadow: 10px 10px 10px black;
}
/* //////// Classe Multiple /////////*/
.winner { background-color: #f7f7f7;
 }
.winner .player-name { font-weight: 300; color: #EB4D4D; 
}