body{
  font-family: Lato;
  color: antiquewhite;
  size-adjust: 100%;
  background-color: black;
  text-align: center;
}
div{
  text-align: center;
}
  body{
  background-image: url("./image/spotLightFont.jpg");
  background-size: cover;
  background-position: center;
  font-family: lato;
  font-weight: 300;
  color: bisque;
 }
.diceStyle{
  width: 80px;
  height: 80px;
}